In [1]:
import sqlite3

In [3]:
connection = sqlite3.connect("example.db")

In [4]:
connection

In [5]:
cursor = connection.cursor()

In [15]:
cursor.execute('''
CREATE TABLE EMPLOYEE(
id Integer Primary key AUTOINCREMENT,
name Varchar(100) Not Null,
age Integer Not Null,
department Varchar(100) Not Null
);
''')

In [16]:
connection.commit()

In [50]:
entries = [
    ('Rohit',24,'Data Scinteist'),
    ("Dhruv",25,"Analysist"),
    ("Krish",21,"Developer")
]

In [51]:
## insert multiple values
cursor.executemany('''
Insert into EMPLOYEE (name,age,department) values(?,?,?)
''',entries)

In [52]:
connection.commit()

In [53]:
cursor.execute('''Select * from EMPLOYEE''')

In [54]:
rows = cursor.fetchall()

In [55]:
for row in rows:
    print(row)

(1, 'Tushar', 24, 'Data Scinteist')
(2, 'Aman', 25, 'Analysist')
(3, 'Rohan', 21, 'Developer')
(5, 'Dhruv', 25, 'Analysist')
(6, 'Krish', 21, 'Developer')
(7, 'Rohit', 24, 'Data Scinteist')
(8, 'Dhruv', 25, 'Analysist')
(9, 'Krish', 21, 'Developer')

In [56]:
## update the row
cursor.execute('''Update EMPLOYEE set name = "Rohit" where id = 4''')

In [57]:
connection.commit()

In [58]:
cursor.execute('''Delete  FROM EMPLOYEE where id =5''')

In [60]:
connection.commit()